In [28]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math
import time

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

#Developing a content-based recommender system using the genres and/or descriptions.

In [13]:
df = pd.read_csv('titles.csv')
df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts21930,Lupin the Third,SHOW,Arsene Lupin III is the grandson of the master...,1971,TV-14,23,"['scifi', 'animation', 'action', 'comedy', 'cr...",['JP'],6.0,tt0159175,7.9,2116.0,45.829,8.0
1,ts25177,Mobile Suit Gundam,SHOW,Mobile Suit Gundam is a televised anime series...,1979,TV-Y7,25,"['scifi', 'war', 'animation', 'action', 'drama...",['JP'],1.0,tt0159172,7.9,2281.0,41.250,8.1
2,ts35087,Galaxy Express 999,SHOW,Galaxy Express 999 is a manga written and draw...,1978,TV-PG,24,"['scifi', 'action', 'drama', 'animation']",['JP'],1.0,tt0185066,7.8,459.0,5.064,8.3
3,ts82387,Lupin the 3rd,SHOW,The master thief Lupin III and his cronies con...,1977,TV-14,24,"['scifi', 'animation', 'action', 'comedy', 'cr...",['JP'],4.0,tt0159192,8.0,1738.0,0.600,NaN
4,ts2846,Chōdenji Machine Voltes V,SHOW,Chōdenji Machine Voltes V is a Japanese anime ...,1977,TV-PG,24,"['drama', 'action', 'scifi', 'animation']",['JP'],1.0,tt0159855,8.1,207.0,12.625,7.3

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1081 entries, 0 to 1080
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1081 non-null   object
 1   title                 1081 non-null   object
 2   type                  1081 non-null   object
 3   description           1050 non-null   object
 4   release_year          1081 non-null   int64
 5   age_certification     750 non-null    object
 6   runtime               1081 non-null   int64
 7   genres                1081 non-null   object
 8   production_countries  1081 non-null   object
 9   seasons               1080 non-null   float64
 10  imdb_id               927 non-null    object
 11  imdb_score            907 non-null    float64
 12  imdb_votes            907 non-null    float64
 13  tmdb_popularity       1068 non-null   float64
 14  tmdb_score            1006 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 126.8+ KB

In [15]:
df.isna().sum()

id                        0
title                     0
type                      0
description              31
release_year              0
age_certification       331
runtime                   0
genres                    0
production_countries      0
seasons                   1
imdb_id                 154
imdb_score              174
imdb_votes              174
tmdb_popularity          13
tmdb_score               75
dtype: int64

In [16]:
df['description'].fillna('Sin descripción', inplace=True)
df['age_certification'].fillna('Desconocido', inplace=True)
df['seasons'].fillna(0, inplace=True)
df.drop(['imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity', 'tmdb_score'], axis=1, inplace=True)

In [17]:
df.isna().sum()

id                      0
title                   0
type                    0
description             0
release_year            0
age_certification       0
runtime                 0
genres                  0
production_countries    0
seasons                 0
dtype: int64

In [18]:
df['genres'] = df['genres'].str.replace("[", "").str.replace("]", "").str.replace("'", "").str.split(", ")

C:\Users\HP\AppData\Local\Temp\ipykernel_17028\581880063.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['genres'] = df['genres'].str.replace("[", "").str.replace("]", "").str.replace("'", "").str.split(", ")

In [20]:
unique_genres = set(x for _list in df['genres'] for x in _list)
for genre in unique_genres:
    df[genre] = df['genres'].apply(lambda x: 1 if genre in x else 0)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1081 entries, 0 to 1080
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1081 non-null   object
 1   title                 1081 non-null   object
 2   type                  1081 non-null   object
 3   description           1081 non-null   object
 4   release_year          1081 non-null   int64
 5   age_certification     1081 non-null   object
 6   runtime               1081 non-null   int64
 7   genres                1081 non-null   object
 8   production_countries  1081 non-null   object
 9   seasons               1081 non-null   float64
 10                        1081 non-null   int64
 11  reality               1081 non-null   int64
 12  action                1081 non-null   int64
 13  documentation         1081 non-null   int64
 14  war                   1081 non-null   int64
 15  history               1081 non-null   int64
 16  music                 1081 non-null   int64
 17  sport                 1081 non-null   int64
 18  animation             1081 non-null   int64
 19  crime                 1081 non-null   int64
 20  romance               1081 non-null   int64
 21  western               1081 non-null   int64
 22  drama                 1081 non-null   int64
 23  family                1081 non-null   int64
 24  scifi                 1081 non-null   int64
 25  comedy                1081 non-null   int64
 26  thriller              1081 non-null   int64
 27  european              1081 non-null   int64
 28  fantasy               1081 non-null   int64
 29  horror                1081 non-null   int64
dtypes: float64(1), int64(22), object(7)
memory usage: 253.5+ KB

In [23]:
df

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,...,romance,western,drama,family,scifi,comedy,thriller,european,fantasy,horror
0,ts21930,Lupin the Third,SHOW,Arsene Lupin III is the grandson of the master...,1971,TV-14,23,"[scifi, animation, action, comedy, crime]",['JP'],6.0,...,0,0,0,0,1,1,0,0,0,0
1,ts25177,Mobile Suit Gundam,SHOW,Mobile Suit Gundam is a televised anime series...,1979,TV-Y7,25,"[scifi, war, animation, action, drama, fantasy]",['JP'],1.0,...,0,0,1,0,1,0,0,0,1,0
2,ts35087,Galaxy Express 999,SHOW,Galaxy Express 999 is a manga written and draw...,1978,TV-PG,24,"[scifi, action, drama, animation]",['JP'],1.0,...,0,0,1,0,1,0,0,0,0,0
3,ts82387,Lupin the 3rd,SHOW,The master thief Lupin III and his cronies con...,1977,TV-14,24,"[scifi, animation, action, comedy, crime, fant...",['JP'],4.0,...,0,0,0,0,1,1,0,0,1,0
4,ts2846,Chōdenji Machine Voltes V,SHOW,Chōdenji Machine Voltes V is a Japanese anime ...,1977,TV-PG,24,"[drama, action, scifi, animation]",['JP'],1.0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076,ts252949,"Farewell, My Dear Cramer",SHOW,With no soccer accomplishments to speak of dur...,2021,TV-14,23,"[comedy, drama]",['JP'],1.0,...,0,0,1,0,0,1,0,0,0,0
1077,ts267874,I★Chu: Halfway Through the Idol,SHOW,Youths aiming to become full-fledged idols enr...,2021,TV-14,24,"[comedy, animation]",['JP'],1.0,...,0,0,0,0,0,1,0,0,0,0
1078,ts268254,ABCiee Working Diary,SHOW,"ABCiee is a bit klutzy and ditsy, but he's ful...",2021,Desconocido,2,[comedy],['JP'],1.0,...,0,0,0,0,0,1,0,0,0,0
1079,ts285889,GLOOMY The Naughty Grizzly,SHOW,"Gloomy, an abandoned little bear, is rescued b...",2021,Desconocido,1,"[comedy, animation]",['JP'],1.0,...,0,0,0,0,0,1,0,0,0,0
1080,ts255190,Idolls!,SHOW,Go for Hoi Hoi Hall! This is the passionate bu...,2021,TV-14,8,"[comedy, animation, music]",['JP'],1.0,...,0,0,0,0,0,1,0,0,0,0

In [24]:
df['description'].head()

0    Arsene Lupin III is the grandson of the master...
1    Mobile Suit Gundam is a televised anime series...
2    Galaxy Express 999 is a manga written and draw...
3    The master thief Lupin III and his cronies con...
4    Chōdenji Machine Voltes V is a Japanese anime ...
Name: description, dtype: object

In [26]:
tfidf = TfidfVectorizer(stop_words='english')

In [27]:
df['description'] = df['description'].fillna('')

tfidf_matrix = tfidf.fit_transform(df['description'])

tfidf_matrix.shape

(1081, 10688)

In [29]:
#utilizaremos la similitud del coseno

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [30]:
#Constrir un mapa inverso de indices y titulos de los animes
indices = pd.Series(df.index, index=df['title']).drop_duplicates()

In [31]:
def get_recomendations(title, cosine_sim = cosine_sim):
    idx = indices[title]
    
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    sim_scores = sim_scores[1:11]
    
    anime_indices = [i[0] for i in sim_scores]
    
    return df['title'].iloc[anime_indices]

In [32]:
get_recomendations('Gunbuster')

92                          Gintama
170             The Galaxy Railways
5      Space Pirate Captain Harlock
65     Photon: The Idiot Adventures
39          Mobile Suit Gundam Wing
186                           DearS
29            Psycho Armor Govarian
320            Parasyte -the maxim-
587                The Journey Home
21                           Dallos
Name: title, dtype: object